#section-title{
    background: url('./images/bg-img/section-one-bg-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#nav{
    background-color: rgba(97, 0, 0, 0.5);
}

#items{
    font-size: 18px;
    color: white;
    font-family:' monospace'
}

#items:hover{
    text-decoration: underline chartreuse;
    font-size: 25px;
    color: greenyellow;

}

#active-item{
    color: greenyellow;
    font-size: 20px;
    font-family:' monospace';
    font-weight: bold;
}

#active-item:hover{
    text-decoration: underline chartreuse;
    font-size: 25px;
    color: greenyellow;
}

#title-container{
    background-color: rgba(24, 22, 22, 0.699);
    border-radius: 8px;
    background: linear-gradient(to right, #794a4a63, #161a3fb9); /* Gradient background color */
}

#title{
    /* color: white; */
    color: rgb(169, 169, 169);
    padding: 20px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

#title-middle{
    color: white;
    font-size: 100px;
    padding: 20px;
    font-style: italic;
    font-family: serif;
}

#title-content{
    color: white;
    font-size: 20px;
    padding: 20px;
    font-style: italic;
    font-family: serif;   
}

.navbar-toggler {
    background-color: #ffffff;
    margin-top: -30px;
}

#contact-conatiner{
    border-radius:12px 12px 0px 0px ;
}

#social-icon{
    text-decoration: none;
    color: #2eff7e;
    font-size: 20px;
}

#social-icon:hover{
    font-size: 22px;
}

#contact{
    font-size: 18px;
    text-decoration: none;
    color: white;
}

#contact:hover{
    text-decoration: underline;
}

#section-two{
    background-color: #f7d5c6;
    padding: 1.2rem
}

#aside-img{
    border: 10px solid rgb(255, 255, 255);
    border-radius: 12px;
}

#headings{
    color: rgb(0, 114, 6);
    font-weight: bold;
}

.content{
    color: rgb(61, 61, 61);
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    /* padding: 0px 0px 10px 0px; */
}

#section-program{
    background-color: rgb(71, 50, 50);
}

#card{
    margin-top: 150px;
}

#card-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* border: 10px solid rgb(255, 255, 255) ; */
    margin-top: -130px;
    padding: 0px 20px;
    background-color: rgb(121, 121, 121);
}

#comunity-section{
    background: url('./images/bg-img/cmunity.webp');
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    /* padding: 1.2rem; */
}


#section-testimonial{
    background-color: #000000;
    padding: 1.2rem
}
#carousel-card{
    background-color: rgba(54, 49, 49, 0.664);
    margin: 20px 10px;
}
#carousel-card-body{
    /* padding:50px; */
    margin: 50x;
}
#carousel-card-img{
    width: 250px;
    margin-bottom: 15px;
    border-radius: 12px;
}
#carousel-card-txt{
    color: white;
    font-size: 20px;
    margin: 20px;
}
#carousel-card-name{
    color: white;
}

#carousel-card-name:hover{
    font-size: 30px;
}

#participate-section{
    background-color: rgb(37, 187, 142);
    color: white;
    font-size: 26px;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#section-five {
    background: url('./images/bg-img/section-one-bg-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* padding: 20px 0; */
}


#footer-bg{
    padding: 20px;
    background: linear-gradient(to right, #794a4abd, #161a3fb7); /*Gradient background color */
}
#footer-links{
    text-decoration: none;
    color: white;
    margin:5px;
}

#footer-links:hover{
    color: greenyellow;
}
#right-arrow{
    font-size: 10px;
}

#footer-social-icon{
    color: white;
    font-size: 22px;
    margin: 0px 5px;
}

