#Get-involved-section{
    background: url('./images/banner-bg-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

#boottom-container{
    border-radius: 20px;
    color: gray;
}
