#Get-involved-section{
    background: url('../../../OIP.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#boottom-container{
    border-radius: 20px;
    color: gray;
}
