#what-we-do-section{
    background: url('./images/banner-bg-img.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#section {
    padding: 50px 0;
}

.feature {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add hover effect to features */
.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}