#contact-banner-section{
    /* padding: 2.5rem; */
    background: url('./images/banner-bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 70vh;
}