/* start-program-banner-section */

#section-main{
    background-color: rgb(187, 187, 187);
    border-bottom: 1px solid rgb(88, 88, 88);
    background: url('./images/banner-bg-img.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: relative;
    height: 100vh;    
}

/* close-program-banner-section */

/* start-program-card-section */

#progrram-card-section{
    padding: 1.2rem;
}
#about-card-pic{
    height: 250px;
    width: 300px;
    border-radius: 15px;
    margin-top: 5px;
}

/* close-program-card-section */

